{{#contentFor "body"}}
<form action="/books/new" method="post">
  Title: <input type="text" name="title"><br><br>
  ISBN: <input type="text" name="isbn"><br><br>
  Quantity: <input type="text" name="quantity"><br><br>
  <button type="submit">Insert</button>
</form>
{{/contentFor }}
